@use "../base/mixins";
@use "../base/colors";

.social-medias-screen-floater {
    font-size: max(0.5em, calc(1em + 0.05vw));


    z-index: 10;
    position: fixed;
    bottom: 0px;
    left: 0;
    margin: 0 0.5em;
    transform-origin: 100% 100%;
    transform: rotate(90deg)translateY(4000%);

    display: flex;
    align-items: center;
    gap: 1em;



    letter-spacing: 3px;
    font-weight: 300;

    --color: #fff;

    color: var(--color);

    ul {
        position: absolute;
        left: -15px;
        padding-bottom: 5em;
        transform: translateX(-200%) rotate(-90deg);

        li {
            position: relative;
            margin-top: 0.5em;
            fill: var(--color);
            width: 1.7rem;
            height: 1.7rem;

            svg {
                fill: #fff;

            }

            :hover {
                fill: rgb(154, 245, 136);


                &::after {
                    text-align: center;
                    color: black;
                    content: attr(data-tooltip);
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: block;
                    width: 150px;

                    background-color: transparent;
                    backdrop-filter: invert(100);
                    transform: translateX(110%) translateY(-50%);
                    border-radius: 50px;
                }

            }
        }
    }



    &::after {
        content: "";
        display: block;
        width: 5em;
        height: 0.1em;
        background-color: var(--color);
    }
}