.spinnable-circle {
    padding: 1em;
    position: absolute;
    right: 0;
    font-size: min(calc(1rem + 1vw), 400px);

    &__overlay {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 100%;
        height: 100%;

        background-color: rgba(255, 228, 196, 0);
    }

    &__container {


        position: relative;
        // width: var(--size);// max-width: var(--size);
        // height: var(--size);

        position: relative;

        width: 10em;
        height: 10em;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;


        background-color: rgba(255, 255, 255, 0);


        box-shadow: rgb(199, 203, 255) 0 0 0px 0.1em inset, rgba(0, 0, 0, 0.116) 0 0 1em;

        // background: rgb(232, 199, 255);
        // background: -moz-linear-gradient(0deg, rgba(232, 199, 255, 1) 0%, rgba(220, 223, 25, 1) 100%);
        // background: -webkit-linear-gradient(0deg, rgba(232, 199, 255, 1) 0%, rgba(220, 223, 25, 1) 100%);
        // background: linear-gradient(0deg, rgba(232, 199, 255, 1) 0%, rgba(220, 223, 25, 1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8c7ff", endColorstr="#dcdf19", GradientType=1);

        &__items {

            position: absolute;

            width: 100%;
            height: 100%;

            transform: rotate(0deg);
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

            &__item {
                position: absolute;
                top: 50%;
                right: 0;

                /*translate(100%,-50%)*/

                transform-origin: calc(100%/ (-1 * 2));
                width: 100%;
                // height: calc(var(--size) * 0.2);


                svg {
                    --linearGradiantColor: linear-gradient(0deg, rgba(232, 199, 255, 1) 0%, rgba(220, 223, 25, 1) 100%);

                    fill: rgb(194, 233, 248);
                    transform: rotate(90deg)
                }
            }
        }

        &__innerCircle {
            // margin: 1em;
            text-align: center;
            font-size: 1em;
            width: 100%;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;


                width: 100%;
                height: 100%;


                border-radius: 50%;

            }
        }
    }
}