@use "./colors";
@use "./mixins";




body {


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    // max-height: 100vh;
    background-color: colors.$blue-primary-color;
    color: white;
    animation: colorifyBody 10s infinite ease-out;

    @keyframes colorifyBody {
        0% {
            background-color: rgb(48, 30, 126);
        }

        30% {
            background-color: rgb(128, 101, 248);
        }

        70% {
            background-color: rgb(130, 35, 207);
        }

        100% {
            background-color: rgb(48, 30, 126);
        }
    }

    main {

        width: 100%;
        max-width: 1000px;
        margin-inline: auto;
        // background-color: black;
    }
}



// effect test

.bg-effect-container {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: black;

}