@use "../base/mixins";
@use "../base/colors";




.about-me-page {
    // scroll-snap-type: x mandatory;
    // overflow: auto;


    overflow: hidden;

    &__wrap .profileHolder {
        padding-block: 3vh;

        display: grid;
        grid-template-columns: 1fr;
        // align-items: center;
        flex-direction: column;
        gap: 2.5em;


        overflow: hidden;

        p {
            font-size: clamp(1rem, calc(1rem + 0.1vw), 2em);
        }

        .myPicture {
            width: 300px;
            height: 300px;
            background-image: url("https://media.istockphoto.com/photos/portrait-of-a-smart-and-handsome-it-specialist-wearing-glasses-smiles-picture-id1197071216?k=20&m=1197071216&s=612x612&w=0&h=JEx2IgXxCr1ZNrgRLzbwx55CjpDxiDU0Vg8_ifjR6Pc=");
            background-position: 40%;
            border-radius: 10px;
            border: #ffffff93 solid 1px;
            box-shadow: #ffffff1c 0 0 15px 0;
        }

        @include mixins.responsive(tablet) {
            grid-template-columns: auto 1fr;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

}