@use "../base/mixins";
@use "../base/colors";


footer {
    user-select: none;
    z-index: 99;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(10px);
    width: 100%;
    overflow: hidden;

    &:hover>* {
        animation-play-state: paused;
    }

    &>* {
        width: fit-content;
        animation: pingbong 12s infinite linear;



        @keyframes pingbong {
            0% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(calc(100vw - 100%));
            }

            100% {
                transform: translateX(0);
            }
        }
    }

}